*{
  box-sizing: border-box !important;
  padding:  0;
  margin: 0 ;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.customerLayout {
  background-image: url(../img/195716-passeio-das-aguas-cinema.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 
.section{
  margin: 30px 10px;
}
.navbar{
  height: 100px;
}
.ant-tabs-tab{
  display: block !important
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 10px !important;
  color: white;
  background-color: red;
  font-weight: 700;
  padding: 5px;
  border-radius: 50%;
}
.tab-TextFilmDetail{
  color: white;
}
.tab-TextFilmDetail:hover{
  color: #00FFCC
}
.overlay-trailer{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlayTrailer-icon{
  position: absolute;
  top: 40%;
  left: 38%;
}