.ant-menu-inline.ant-menu-root .ant-menu-item {
    flex-wrap: wrap;
}
.meunu-text{
    color: #33CCFF;
}
.footer-content ul{
    list-style: none;
}
.addFilm-title{
    margin-bottom: 0;
    color: steelblue
}
.ant-page-header-heading-left{
    align-items: center;
}
@media  only screen and (max-width: 1160px) {
    #navbarSupportedContent{
        text-align: center;
        background-color: white;
    }
}

@media  only screen and (max-width: 992px) {
    .rate_filmDetail{
        display: none;
    }
    .filmContent{
        flex-wrap: wrap;
    }
    .filmContent img{
        height: 240px;
    }
    .ant-menu.ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon+span, .ant-menu.ant-menu-inline-collapsed>.ant-menu-item .anticon+span{
        opacity: 1 !important;
        margin-left: 0;
    }
    .ant-menu-vertical .ant-menu-item{
        overflow: visible !important;
    }
    .ant-menu-item{
        white-space: normal;
    }
    .ant-table-content{
        overflow-y: auto;
    }
    #navbarSupportedContent{
        background-color: cadetblue;
        padding: 10px;
        text-align: center;
    }
    .addFilm-title{
        font-size: 20px;
    }


}

@media  only screen and (max-width: 600px) {
    .bannerHome{
        height: 200px !important;
    }
    .filmContent>img{
        width: 200px;
        height: 200px;
    }
    .logoDetail{
        margin-right: 10px !important;
        width: 44px;
        height: 20px;
    }
    .ant-tabs-nav-list{
        width: 100px !important;
    }
    .theater_content,
    .theater_content h4,
    .theater_content button{
        font-size: 10px;
        padding: 5px;
    }
    .loginContent{
        width: 100% !important;
        height: 100%;
    }
    .form_Register{
        margin: 0 !important;
    }
    .register_title{
        margin: 0 !important; 
    }
    .info-user{
        font-size: 8px;
    }
    .table td, .table th{
        padding: 5px;
        font-size: 10px;
    }
    .info-booking{
        font-size: 12px;
    }
    .info-booking h2{
        font-size: 20px;
    }
    .ant-menu-inline.ant-menu-root .ant-menu-item{
        padding-left: 0 !important;
        width: 30px;
    }
    .ant-card-body{
        padding: 1px;
    }
    .ant-list-item-meta-avatar img {
        width: 30px !important;
        height: 30px !important;
    }
    .ant-collapse-content-box{
        padding: 5px !important;
    }
    .ant-collapse-header{
        padding: 0 !important;
        flex-wrap: wrap !important;
    }
    .ant-collapse-header-text h5{
        font-size: 14px;
    }
    .ant-divider-inner-text{
        padding: 0 !important;
    }
    .ant-btn{
        padding: 4px !important;
        font-size: 12px !important;
    }
    .ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane{
        padding: 10px !important;
    }
    .text-logoTheater{
        white-space: pre-wrap;
        font-size: 10px;
    }
    .site-layout-sub-header-background {
        padding: 0;
    }
    .text-UserAD{
        padding: 0 !important;
    }
    .footer-content a{
        font-size: 10px;
    }
    .addFilm-title{
        font-size: 14px;
    }
}